easydict==1.9
numpy==1.17.0
onnxruntime==1.7.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
pandas==1.1.5
tensorboard==1.15.0
torch==1.6.0
torchsummary==1.5.1
torchvision==0.7.0
tqdm==4.15.0
